<launch>

  <arg name="use_global_planner" default="true"/>  

  <arg name="soft_top_speed" default="4.0"/>
  <arg name="acceleration_interpolation_min" default="2.5"/>
  <arg name="acceleration_interpolation_max"  default="4.5"/>
  <arg name="speed_at_acceleration_max" default="4.0"/>
  <arg name="yaw_on" default="true"/>
  <arg name="use_depth_image" default="true"/>
  <arg name="flight_altitude" default="1.5"/>
  <arg name="use_3d_library" default="false"/>

  <arg name="max_e_stop_pitch_degrees" default="45.0"/>
  <arg name="laser_z_below_project_up" default="-0.5"/>

  <arg name="A_dolphin" default="0.5"/>
  <arg name="T_dolphin" default="3.0"/>

  <arg name="use_xtion" default="true" /> <!-- otherwise use r200 -->

  <arg name="r200_depth_camera_info_topic" default="/flight/r200/depth_red/camera_info" />
  <arg name="r200_depth_camera_pointcloud_topic" default="/flight/r200/points_xyz" />

  <arg name="xtion_depth_camera_info_topic" default="/flight/xtion_depth/camera_info" />
  <arg name="xtion_depth_camera_pointcloud_topic" default="/flight/xtion_depth/points" />

  <param name="soft_top_speed" type="double" value="$(arg soft_top_speed)"/>
  <param name="acceleration_interpolation_min" type="double" value="$(arg acceleration_interpolation_min)"/>
  <param name="acceleration_interpolation_max" type="double" value="$(arg acceleration_interpolation_max)"/>
  <param name="speed_at_acceleration_max" type="double" value="$(arg speed_at_acceleration_max)"/>
  <param name="yaw_on" type="bool" value="$(arg yaw_on)"/>
  <param name="use_depth_image" type="bool" value="$(arg use_depth_image)"/>
  <param name="flight_altitude" type="double" value="$(arg flight_altitude)"/>
  <param name="use_3d_library" type="bool" value="$(arg use_3d_library)"/>
  <param name="max_e_stop_pitch_degrees" type="double" value="$(arg max_e_stop_pitch_degrees)"/>
  <param name="laser_z_below_project_up" type="double" value="$(arg laser_z_below_project_up)"/>
  <param name="A_dolphin" type="double" value="$(arg A_dolphin)"/>
  <param name="T_dolphin" type="double" value="$(arg T_dolphin)"/>

  <node pkg="motion_primitives" type="motion_selector_node" name="motion_selector" output="screen">
    <remap from="/local_goal" to="/move_base_simple/goal" unless="$(arg use_global_planner)"/>

    <remap from="/depth_camera_info" to="$(arg r200_depth_camera_info_topic)" unless="$(arg use_xtion)"/>
    <remap from="/depth_camera_pointcloud" to="$(arg r200_depth_camera_pointcloud_topic)" unless="$(arg use_xtion)"/>

    <remap from="/depth_camera_info" to="$(arg xtion_depth_camera_info_topic)" if="$(arg use_xtion)"/>
    <remap from="/depth_camera_pointcloud" to="$(arg xtion_depth_camera_pointcloud_topic)" if="$(arg use_xtion)"/>
  </node>

</launch>
